.App {
  /* width: 768px; */
  width: 768px;
  margin: 30px auto;
}
/* 

@media (min-width: 400px) {
  .App {
    width: 370px;
  }
}

@media (min-width: 768px) {
  .App {
    width: 738px;
  }
}

@media (min-width: 1024px) {
  .App {
    width: 994px;
  }
} */
