.Button {
  padding: 4px 18px;
  border: none;
  font-size: 22px;

  border-radius: 10px;
  color: #D7CCC8;
  outline: none;
  text-transform: uppercase;
  box-shadow: 3px 3px 3px black;
  text-align: center;
}

.Active {
  background-color: #3E2723;
  cursor: pointer;
}

.Active:hover {
  background: #5D4037;
  box-shadow: 2px 2px 2px black;
}

.Active:active {
  background: #795548;
  box-shadow: 1px 1px 1px black;
}

.Disabled {
  background-color: grey;
  cursor: not-allowed;
}