.Intro {
  width: 768px;
  margin: 30px auto;
  padding: 0 15px 15px 15px;
  text-align: center;
  background: radial-gradient(#616161, #212121);
  border: 4px inset #4E342E;
  border-radius: 15px;
  box-shadow: 2px 2px 4px black;
} 

.Intro h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.Intro p {
  font-size: 18px;
}