html {
  min-height: 100%;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;

  font-family: 'Spectral SC', serif;
  color: #D7CCC8;
  background-image: url('./assets/main_background.jpg');
  background-size: cover;
}

button,
input {
  font-family: 'Spectral SC', serif;
}